version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_DB: hello_world
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - "./docker/postgres:/var/lib/postgresql/data"
  spring-web-tomcat:
    image: spring-web-tomcat:latest
    container_name: application
    environment:
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/hello_world
    ports:
      - "8080:8080"
    cpu_count: 2
    mem_limit: 1G
    mem_reservation: 1G
    depends_on:
      - postgres
  spring-web-tomcat-loom:
    image: spring-web-tomcat:latest
    container_name: application
    environment:
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2 --enable-preview
      # JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2 --enable-preview -Djdk.tracePinnedThreads=full
      SPRING_PROFILES_ACTIVE: loom
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/hello_world
    ports:
      - "8080:8080"
    cpu_count: 2
    mem_limit: 1G
    mem_reservation: 1G
    depends_on:
      - postgres
  spring-web-jetty:
    image: spring-web-jetty:latest
    container_name: application
    environment:
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/hello_world
    ports:
      - "8080:8080"
    cpu_count: 2
    mem_limit: 1G
    mem_reservation: 1G
    depends_on:
      - postgres
  spring-web-jetty-loom:
    image: spring-web-jetty:latest
    container_name: application
    environment:
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2 --enable-preview
      # JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2 --enable-preview -Djdk.tracePinnedThreads=full
      SPRING_PROFILES_ACTIVE: loom
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/hello_world
    ports:
      - "8080:8080"
    cpu_count: 2
    mem_limit: 1G
    mem_reservation: 1G
    depends_on:
      - postgres
  spring-webflux:
    image: spring-webflux:latest
    container_name: application
    environment:
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=250M -XX:ActiveProcessorCount=2
      SPRING_R2DBC_URL: r2dbc:postgresql://postgres:5432/hello_world
    ports:
      - "8080:8080"
    cpu_count: 2
    mem_limit: 1G
    mem_reservation: 1G
    depends_on:
      - postgres

networks:
  default:
    name: benchmark-network
